 
  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  
  .jumbotron {
      background-color: #333333;
      color: #558ed5;
      padding: 48px 64px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 60px 0px 30px 0px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  
    .dropdown-menu {
        font-size: 12px;
    }
  
  .logo-small {
      color: #558ed5;
      font-size: 50px;
  }
  .logo {
      color: #558ed5;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #333333;
  }
  .carousel-indicators li {
      border-color: #333333;
  }
  .carousel-indicators li.active {
      background-color: #333333;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #333333; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #333333;
      background-color: #fff !important;
      color: #333333;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #333333 !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #333333;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #333333;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  
  .navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 0px;
    font-size: 18px;
    line-height: 20px;
    }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #558ed5 !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #558ed5;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }

  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
    #statusCounter {
        margin-bottom:100px;
    }
  }

  @media screen and (max-width: 991px) {
    .container-fluid {
        padding: 60px 0px 0px 30px;
    }
  }
  @media screen and (min-width: 991px) {
    .margin_to_footer_content {
      margin-bottom: 170px;
    }
  }

  @media screen and (min-width: 2000px) {
    .main_row {
      max-width:2000px;
   }
  }

  /*Custom*/
  /*Tab Color*/
.nav-tabs>li>a{
	color:#FFFFFF;
	background-color: #404040;
}
  
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:hover{
	color:#FFFFFF;
	background-color: #558ed5;
}

  /*End Tab Color*/
.dropdown.open>li, .dropdown-menu, .open>li:focus{
    color:#FFFFFF;
    background-color: #558ed5; 
}
  
.canvas-holder{
	width: 100%;
	height: 400px;
}

.table{
    /*display:block;*/
}

.table>tbody>tr>td{
    
}

#label { display: inline-block; width: 120px; border: 1px solid gray;  margin-right: 10px;}
    div.inputLine { margin: 8px; } 
    table.rec {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; width:80%; border-collapse:collapse;}
    table.rec td, table.rec th { font-size:1em; border:1px solid #98bf21; padding:3px 7px 2px 7px; }
    table.rec th { font-size:1.1em;text-align:left; padding-top:5px; padding-bottom:4px; background-color:#A7C942; color:#ffffff; min-width:30px;}
    table.rec td { text-align:center;}
    table.rec tr.alt td {color:#000000; background-color:#EAF2D3; } 
    .extra-margin {  margin-right: 10px;}
    .rightMargin { margin-right: 10px;  }


/* footer */
    .no-padding { padding:0px }

#lightbox .modal-content {
    display: inline-block;
    text-align: center;   
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    right: -55px;
    z-index:1032;
}

.qButton { 
  font-size: 20px;
  margin-bottom: 5px;
  width: 50px;
  height: 50px;
 }


 /*Footer*/
 #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0, .05);
    padding-top: 10px;
    margin-top:100px;
  }

.row {
    margin-right: 0px;
}

/*Card for themes*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
  }

  .card_header {
    padding-top:27px;
  }

  .card_header_margin {
    margin-left: 20px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container_home {
    padding-bottom: 20px;
  }

  /*Quiz status*/
  #statusCounter {
    margin-top: 20px;
  }

  .question_card {
      margin-top: 30px;
      border: 1px solid #dadada;
      border-radius: 7px;
      transition: 0.3s;
      width: 100%;
      outline: none;
      border-color: #b0b5b9;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .questions {
      padding: 10px 20px 10px 20px;
  }

  .answers {
      margin: 20px 0px 10px 0px;
  }

  .limit-width {
    max-width:500px;
  }

  /*Alert in quiz*/
  /*
  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
  }

  .alert.success {
    background-color: green;
    margin-top: 10px;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }
  */
